.lessonPanel {
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: #000;
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.actionBtn {
  color: blue;
  border: none;
  background: #fff;
}

.actionBtn:hover {
  cursor: pointer;
}
